<div class="card" style="width: 18rem;">
    
    <div class="card-body">
        <p class="card-text">Nombre: <%= person.name %>.</p>
        <p class="card-text">Fecha de nacimiento: <%= person.birthdate.strftime("%d-%m-%Y") %>.</p>
        <p class="card-text">Genero: <%= person.gender %>.</p>
        <p class="card-text">Pais: <%= person.country %>.</p>
    </div>
    
</div>



